<!-- ======= Breadcrumbs ======= -->
<div class="breadcrumbs">
    <div class="page-header d-flex align-items-center" style="background-image: url(@Url.Content("~/assets/img/herobg.svg"));">
        <div class="container position-relative">
            <div class="row d-flex justify-content-center">
                <div class="col-lg-6 text-center">
                    <h2>@ViewBag.Title</h2><br />
                    <span style="color: white">@ViewBag.Description</span>
                </div>
            </div>
        </div>
    </div>
    <nav>
        <div class="container">
            <ol>
                <li><a href="/Home/Index">صفحه اصلی</a></li>
                <li> @ViewBag.Title</li>
            </ol>
        </div>
    </nav>
</div><!-- End Breadcrumbs -->
