@model hairsalon.Models.CheckPhoneVM
@{
    ViewBag.Title = "ورود به حساب";
    Layout = "~/Views/Shared/_Layout.cshtml";

}


@Html.Partial("_PartialHeader")


<!-- ======= profile Section ======= -->
<section id="profile" class="profile">
    <div class="container" data-aos="fade-up">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="card" style="padding: 20px;">

                    <div class="p-5 pt-0">
                        <form asp-action="Index" method="post">
                            <div class="mb-3">
                                
                                <label for="mobileInput">شماره موبایل خود را وارد کنید:</label>
                                @Html.TextBoxFor(m => m.PhoneNumber, new { @class="form-control rounded-3", @maxlength="11" , @id="mobileInput", @placeholder="مثال: 09123456789" })
                                @Html.ValidationMessageFor(m => m.PhoneNumber, "", new { @class = "text-danger" })
                            </div>
                            @*should change*@
                            <button value="Index" class="w-100 mb-2 btn btn-lg rounded-3 btn-primary" type="submit">ورود به حساب کاربری</input>
                        </form>
                    </div>

                </div>
            </div>
        </div>
    </div>
</section><!-- End profile Section -->
