@{
    ViewBag.Title = "درباره ما";
}

@Html.Partial("_PartialHeader")

<section id="profile" class="profile">
    <div class="container" data-aos="fade-up">
        <h2><strong>شرکت نرم افزاری هوشمند سازان هستی</strong></h2><br />
        
            <h4>اتوماسیون نوبت دهی سفارشی</h4>
            <p style="color: dimgrey">در طی فرآیند هوشمند سازی کسب و کار های کوچک و متوسط، موفق به توسعه سامانه نوبت دهی هوشمند درمانگاهی شده ایم. این سامانه هم اکنون در دست استفاده توسط مشتریان و کارمندان محترم یکی از درمانگاه های تهران است. این سامانه هم اکنون قابل ارائه به شما عزیزان این حوزه می باشد.</p>
            <br />
            <h4>اینترنت اشیأ</h4>
            <p style="color: dimgray">تولید اتومبیل های کنترلی کوچک تحت اینترنت و از راه دور. امکان بازی و سرگرمی برای دوست داران تکنولوژی. قابل توسعه و ماژول محور توسط خریداران. این محصول در دست تولید و می باشد.</p>
    

    </div>
</section>