
@{
    ViewBag.Title = "ورود یا ثبت نام";
    Layout = "~/Views/Shared/_Layout.cshtml";

}


@Html.Partial("_PartialHeader")

<!-- ======= profile Section ======= -->
<section id="profile" class="profile">
    <div class="container" data-aos="fade-up">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="card" style="padding: 20px;">

                    <ul class="nav nav-pills nav-fill mb-3" id="pills-tab" role="tablist">
                        <li class="nav-item" role="presentation">
                            <button class="nav-link active" id="pills-signIn-tab" data-bs-toggle="pill" data-bs-target="#pills-signIn" type="button" role="tab" aria-controls="pills-edit" aria-selected="ture">ورود</button>
                        </li>
                        <li class="nav-item" role="presentation">
                            <button class="nav-link" id="pills-password-tab" data-bs-toggle="pill" data-bs-target="#pills-password" type="button" role="tab" aria-controls="pills-password" aria-selected="false">ثبت نام</button>
                        </li>
                    </ul>

                    <!-- edit tab content -->
                    <div class="tab-content" id="pills-tabContent">

                        <div class="tab-pane fade show active" id="pills-signIn" role="tabpanel" aria-labelledby="pills-signIn-tab" tabindex="0">

                            <div class="p-5 pt-0">
                                <form class="">
                                    <div class="mb-3">
                                        <label for="mobileInput">شماره موبایل</label>
                                        <input type="tel" class="form-control rounded-3" id="mobileInput">

                                    </div>
                                    <div class="mb-3">
                                        <label for="passwordInput">کلمه عبور</label>
                                        <input type="password" class="form-control rounded-3" id="passwordInput">

                                    </div>
                                    <button class="w-100 mb-2 btn btn-lg rounded-3 btn-primary" type="submit">ورود به سایت</button>
                                </form>
                            </div>

                        </div>
                        <div class="tab-pane fade" id="pills-password" role="tabpanel" aria-labelledby="pills-password-tab" tabindex="0">

                            <div class="p-5 pt-0">
                                <form class="">
                                    <div class="mb-3">
                                        <label for="mobileInput">شماره موبایل</label>
                                        <input type="tel" class="form-control rounded-3" id="mobileInput">

                                    </div>
                                    <div class="mb-3">
                                        <label for="codeInput">کد فعالسازی</label>
                                        <input type="text" class="form-control rounded-3" id="codeInput" placeholder="کد فعالسازی پیامک شده را وارد کنید">

                                    </div>

                                    <div class="mb-3">
                                        <label for="passwordInput">کلمه عبور</label>
                                        <input type="password" class="form-control rounded-3" id="passwordInput">

                                    </div>
                                    <div class="mb-3">
                                        <label for="passwordRepeatInput">تکرار کلمه عبور</label>
                                        <input type="passwordRepeat" class="form-control rounded-3" id="passwordRepeatInput">

                                    </div>
                                    <button class="w-100 mb-2 btn btn-lg rounded-3 btn-primary" type="submit">ثبت نام در سایت</button>
                                </form>
                            </div>

                        </div>


                    </div>

                </div>
            </div>
        </div>
    </div>
</section><!-- End profile Section -->